*.swp
*.aux
*.log
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*~
*.backup
sources/mwe.*
sources/calculating-the-uposatha-moondays.pdf
sources/auto
sources/_minted-calculating-the-uposatha-moondays/
sources/_minted-mwe/
sources/includes/auto
sources/includes/_minted-code-sample/

